body {
	background: 
	#4d4d4d;
}
p {
  color: white;
  font-size:large ;
}
.control-label {
	color: #FF6347;
	font-weight: bold;
}
h1 {
  color: #FFDAB9;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;;
}


